:root {
	--black: #171321;
	--white: #f7f8fa;
	--primary: #8FA2A7;
	--secondary: #E7DCDC;
	--font: #4A433F;
	--highlight: #F3CD90;
	--base-font-size: 1.4rem;
	--emph-font: "Expletus Sans", cursive;
	--norm-font: "Hind", sans-serif;
}
  *,
  *::before,
  *::after {
	box-sizing: inherit;
}
* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
    background-color:var(--primary);
}

.header {
	padding: 0;
	padding-bottom: 2rem;
	margin: 0;
	font-family: var(--norm-font);
	background-color: var(--primary);
	color: var(--font);
	font-size: var(--base-font-size);
	position: -webkit-sticky;
    position: sticky;
}

.header a {
    /* font-family: "Telex"; */
    font-weight: bold;
    backdrop-filter: blur(5px);
    letter-spacing: 1.1px;
    float: right;
    color: var(--secondary);
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 2px 2px rgba(71, 71, 71, 0.1);
}

.header a:hover {
    opacity: 2;
    transform: scale(1.05);
}
a:hover {
	text-decoration: none;
}
  
a {
	color: var(--link);
	text-decoration: underline;
}
nav {
	font-size: 120%;
	padding: 2rem 4rem;
	padding-bottom: 0rem;
}
  
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
  nav img.logo {
	width: 1.5rem;;
	height: 1.5rem;
	margin-right: 0.5rem;;
	object-fit: contain;
  }
  nav li a {
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 0.5rem;
  }
  nav h1 {
	font-size: 1.5rem;
  }
  
  nav h1 span {
	display: none;
  }
  nav a {
	color: var(--font);
	display: block;
	text-decoration: none;
  }
  nav h1 span {
    display: block;
  }

  nav div.line {
    width: 0px;
    height: 2px;
    background-color: var(--font);
    border-radius: 1px;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  } 
  nav a:hover {
	color: var(--secondary);
	text-decoration: none;
  }
  nav li.active {
    margin-right: auto;
  }
  nav a:hover div.line,
  div.line {
    width: 152px;
  }
  nav a:hover div.line {
    background-color: var(--white);
  }
 a:hover div.line {
    width: 250px;
  }
  

h1 {
    font-size: 3rem;

}

mark {
	color: var(--font);
    display: inline-block; 
    height: 0.5em;
    line-height: 0;
    background-color: var(--secondary);
}


.content{
	padding-top: -5rem;
	color: var(--font);
	margin-left: 5rem;
}
.info{
	font-size: 1.5rem;
	color: var(--font);
}
button {
    width: 18rem;
    padding: 1rem;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: var(--font);
    background-color:var(--secondary);
    border-radius: 1rem;
    margin-top: 15px;
  }
  
button:hover {opacity: 0.8;}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}
button:hover span {
    padding-right: 25px;
}
button:hover span:after {
    opacity: 1;
    right: 0;
}
@media (min-width: 900px) {
	#about::after {
	content: "Me";
	}

	nav h1 span {
	display: block;
	}

	nav div.line {
	  width: 0px;
	  height: 2px;
	  background-color: var(--white);
	  border-radius: 1px;
	  -webkit-transition: width 0.5s ease-in-out;
	  -moz-transition: width 0.5s ease-in-out;
	  -o-transition: width 0.5s ease-in-out;
	  transition: width 0.5s ease-in-out;
	}
  
	nav li.active {
	  margin-right: auto;
	}
	nav a:hover div.line,
	nav .active div.line {
	  width: 152px;
	}
	nav a:hover div.line {
	  background-color: var(--highlight);
	}
	nav .active a:hover div.line {
	  width: 250px;
	}
	#project,#content {
	  flex-flow: row nowrap;
	}
  
  }
  
  @media (min-width: 1111px) {
	#project,#content {
	  left: calc(-520px + 40vw);
	}
  }
  @media only screen and (max-width: 480px) {
    h1 {
        font-size: 30px;
    }
    #content,#project {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0px;
    }
    #content,#project  {
        margin-top: 0%;
        display: none;
    }
}
